/* BODY */
.profile-body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}

/* SECCIÓN */
.profile-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TARJETA PERFIL */
.profile-card {
  width: 420px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 22px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0,0,0,0.35);
}

/* FOTO PERFIL */
.profile-photo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #0d6efd;
  object-fit: cover;
}

/* NOMBRE */
.profile-card h2 {
  margin-top: 15px;
  font-weight: 700;
  color: #0f172a;
}

/* USUARIO */
.perfil-user {
  color: #2563eb;
  font-size: 14px;
  margin-bottom: 20px;
}

/* INFO PERFIL */
.profile-info {
  text-align: left;
  margin-top: 20px;
}
.card-img-top {
  height: 160px;
  object-fit: cover;
}

.profile-info p {
  font-size: 15px;
  margin-bottom: 8px;
  color: #1f2937;
}

.profile-info strong {
  color: #0f172a;
}

/* BOTÓN LOGOUT */
.btn-logout {
  width: 100%;
  margin-top: 25px;
  background: #dc3545;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.btn-logout:hover {
  background: #bb2d3b;
  transform: scale(1.05);
}

/* FOOTER */
.footer {
  margin-top: 40px;
}
